.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.btn__group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  left: 75px;
  width: 125px;
  height: 100px;
}

.btn__group_label {
  font-size: 24px;
  font-family: var(--primary-font);
  color: #ffff;
  font-weight: bold;
}

.btn__group_option {
  font-size: 16px;
  font-family: var(--primary-font);
  color: #ffff;
  font-weight: bold;
  padding-left: 5px;
}

.input {
  cursor: pointer;
}

.playlist__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}
