.content__container {
  /*height: calc(100vh - 50px);*/
  height: 100vh;
  padding: 64px 0px;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-areas: "side-nav main-view";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}
